.hud {
  margin-top: 50px;
  margin-left: 10px;
}

.hud h1 {
  font-family: "Sarpanch", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

.hud h2 {
  font-family: "Sarpanch", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}