@import url('https://fonts.googleapis.com/css?family=Nixie+One');

.hud {
  margin-top: 150px;
  margin-left: 20px;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;

  .hud_textContainer {
    display: block;
    max-width: 400px;
  }

  .hud_title {
    font-family: $headlineFont;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: $explorer;
    margin: 20px;
  }

  .hud_subTitle {
    font-family: $headlineFont;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    color: $explorer;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 24px;
  }

  .hud_message {
    font-family: $headlineFont;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: $explorer;
    margin-top: 20px;
  }

  .hud_controlsContainer {
    
    button {
      background-color: transparent;
    }

    button:active, button:focus {
      outline: none;
    }

    a {
      background-color: transparent;
    }

  }

}



