body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
  overflow: hidden;
}

li {
  list-style-type: square;
}

.main {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0px;
  padding: 0px;
}
