/* will compile to: App__app___NghkZ */
.app {
  text-align: center;
}
/* will compile to: App__header___hwRc6 */
.logo {
  animation: spin infinite 20s linear;
  height: 80px;
}
/* will compile to: App__logo___3CJMU */
/* see variables.js for these colors */
.header {
  background-color: $headerBG;
  height: 150px;
  padding: 20px;
  color: white;
}
/* will compile to: App__intro___1dzYQ */
.intro {
  color: $secondary; /* variable usage */
  @mixin noSelect; /* mixin usage */
  @mixin OpenSans 30px; /* mixin with value usage */
}
/* will compile to: App__localExample___dadq2 */
.localExample {
  background: $primary;
}

:global {
  /* will compile to: global-class-name */
  .global-class-name {
    background: green;
  }
}

/**
 * Media Queries
 * -----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See http://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

@media screen and (max-width: 400px) {

}

@media screen and (min-width: 401px) {
  
}

@media screen and (min-width: 900px) {
  
}


@media screen and (min-width: 1200px) {

}

/* Assistive text */

.screen_reader_text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.screen_reader_text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  text-transform: none;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}